.book
  &-wrapper
    display: flex
    align-items: center
    justify-content: space-between
  &__name
    max-width: 444px
    font-family: Roboto Condensed
    font-style: normal
    font-weight: bold
    font-size: 48px
    line-height: 60px
    letter-spacing: 0.2px
    margin-bottom: 28px
  &__section
    color: $yellow
  &__author
    font-family: Roboto
    font-style: normal
    font-weight: 500
    font-size: 20px
    line-height: 24px
    letter-spacing: 0.2px
    margin-bottom: 36px
  &__description
    width: 585px
    font-style: normal
    font-weight: normal
    font-size: 18px
    line-height: 32px
    color: $dark-gray
    margin-bottom: 56px
  &-image
    position: relative
    width: 488px
    height: 580px
    display: flex
    align-items: center
    justify-content: center
    background-color: $light-gray
    mix-blend-mode: normal
    opacity: 0.1
    z-index: -1
    &__img
      position: absolute
      width: 250px
      height: 374px
      z-index: 10
