@media (min-width: 992px)
  .nav
    &__link
      &:hover
        color: $crimson

  .button
    &-get
      &:hover
        border-color: $yellow
        color: $yellow
  
  .button
    &__buy
      &-now
        &:hover
          background-color: $yellow
    &__view
      &-demo
        &:hover
          border: 2px solid $yellow
          color: $yellow
            